absl-py==1.4.0
aiodns==3.0.0
aiohttp==3.8.4
aiosignal==1.3.1
aiosmtpd==1.4.4.post2
altair==4.2.2
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
asyncselenium==0.0.2
atpublic==4.0
attrs==22.2.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
blis==0.7.9
bs4==0.0.1
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.5
comm==0.1.3
confection==0.0.4
contourpy==1.0.7
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
debugpy==1.6.7
decorator==5.1.1
deep-translator==1.11.4
defusedxml==0.7.1
dill==0.3.7
diskcache==5.6.1
distlib==0.3.6
dnspython==2.3.0
docopt==0.6.2
einops==0.6.1
email-validator==2.0.0.post2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
fake-useragent==1.1.3
fastapi==0.99.1
fastjsonschema==2.16.3
ffmpeg==1.4
filelock==3.12.0
Flask==2.2.3
flatbuffers==23.3.3
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.9.0
gast==0.4.0
gevent==22.10.2
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
google-trans-new==1.1.9
googletrans==3.0.0
greenlet==2.0.2
grpcio==1.53.0
h11==0.9.0
h2==3.2.0
h5py==3.8.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.16.4
hyperframe==5.2.0
hypothesis==6.82.0
identify==2.5.26
idna==2.10
importlib-metadata==6.6.0
imutils==0.5.4
iniconfig==2.0.0
ipykernel==6.22.0
ipython==8.12.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
itsdangerous==2.1.2
ivy @ git+https://github.com/unifyai/ivy.git@d302ee66407f2ee6bcc79ddd6866af7eb46aad4c
jax==0.4.14
jaxlib==0.4.14
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpickle==3.0.1
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
keras==2.12.0
kiwisolver==1.4.4
langcodes==3.3.0
libclang==16.0.0
lxml==4.9.2
MailboxValidator==1.2.0
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.1
mistune==2.0.5
ml-dtypes==0.2.0
mpmath==1.3.0
multidict==6.0.4
murmurhash==1.0.9
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
ndindex==1.7
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
nodeenv==1.8.0
notebook==6.5.4
notebook_shim==0.2.2
numpy==1.23.5
nvidia-ml-py==11.495.46
oauthlib==3.2.2
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.2.0
packaging==21.3
pandas==1.5.3
pandocfilters==1.5.0
parse==1.19.1
parso==0.8.3
pathy==0.10.1
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.4.13
platformdirs==3.8.1
pluggy==1.2.0
pre-commit==3.3.3
preshed==3.0.8
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.1
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.3.0
pycparser==2.21
pydantic==1.10.7
pyDatalog==0.17.4
pydeck==0.8.1b0
pydub==0.25.1
pyee==8.2.2
Pygments==2.15.0
pyIsEmail==2.0.1
Pympler==1.0.1
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==2.0.0
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.4.0
pytest-json-report==1.5.0
pytest-metadata==3.0.0
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyvis==0.3.2
pywin32==306
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.2
qtconsole==5.4.2
QtPy==2.3.1
regex==2023.3.23
requests==2.28.2
requests-html==0.10.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.3.4
rsa==4.9
safetensors==0.3.3
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
selenium==4.10.0
Send2Trash==1.8.0
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
stack-data==0.6.2
starlette==0.27.0
streamlit==1.21.0
sympy==1.11.1
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
terminado==0.17.1
thinc==8.1.9
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.33.1
trio==0.22.0
trio-websocket==0.10.2
typer==0.7.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
ultralytics==8.0.117
uri-template==1.2.0
urllib3==1.26.15
uvicorn==0.22.0
validate-email==1.3
validators==0.20.0
verify-email==2.4.3
virtualenv==20.23.1
w3lib==2.1.1
wasabi==1.1.1
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.3
wget==3.2
widgetsnbextension==4.0.7
wrapt==1.14.1
wsproto==1.2.0
yarg==0.1.9
yarl==1.9.2
yellowbrick==1.5
yolov7-package==0.0.12
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
