@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

*{
  padding: 0px;
  margin: 0px;
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background: #030303; /* Set your background color */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background: radial-gradient(circle at center, rgba(10, 32, 121, 0.393) 30%, transparent 80%); /* Adjust opacity and size as needed */
  z-index: -1; /* Place it behind the content */
  pointer-events: none; /* Make it non-interactive */
  animation: moveBokeh 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate; /* Add animation to move the circles */
}

@keyframes moveBokeh {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(10px, 10px);
  }
}


.content {
  position: relative;
  z-index: 1; /* Place it in front of the background */
  padding: 20px;
  color: #fff; /* Set text color for content */
}

/* html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #0a02128e, #140013c1, #04042ab9, #01110d);
    background-size: 400% 400%;
    animation: gradient 5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

.App {
  text-align: center;
  color: rgb(183, 166, 166);
}


.navbar {
display: flex;
flex-direction: row;
align-items: start;
justify-content: space-between;
padding:20px;
border-style: solid;
border-width: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 62px);
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(183, 166, 166);
}

.centerbox {
  border-style: solid;
  margin-top: 50px;
  border-color: rgb(183, 166, 166);
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.gradient-heading {
  background-color: rgba(215, 220, 215, 0);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom:10px;  
}

.gradient-heading-text{
background: -webkit-linear-gradient(#284760, #b90ae5bd);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 40px;
padding-bottom:10px;
}

.gradient-explanation-text{
  color:rgb(158, 168, 165);
}

.top-layer{
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  padding: 10px 0px;
  border-bottom-style: solid;
}

.bottom-layer{
  height: 100%;
  background-color:rgba(0, 0, 0, 0);
}

.button {
  background-color: #173a2900; /* Default button background color */
  color: #fff; /* Default text color */
  padding: 10px 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #000000;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease; /* Transition properties for default state */
  cursor: pointer;
  transition-delay: 0.5s; /* Add a delay of 0.5s to the default state */
}

.button:hover {
  background-image: linear-gradient(to right, #231468, #152546); /* Darkish gradient */
  color: #fff;
  border-color: #0d1526;
  transition-delay: 0s; /* Reset the delay for hover state */
}

.centerbox-dropbox{
  background-color: rgba(0, 0, 0, 0);
  color: white; 
  display: flex;
  justify-content: space-evenly;
}

.centerbox-content-text{
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  padding-top:360px;
  display: flex;
  justify-content: center;
}

.centerbox-content-text-textbox{
  color:rgb(141, 141, 54);
  width:100%;
  padding:10px;
  border-style: solid;
  border-width:0px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-color: black;
  background-color: rgba(1, 40, 69, 0.515);
  border-color:antiquewhite;
}
.centerbox-content-text-textbox:focus {
  outline: none;
}

.centerbox-content-record-submit{
  background-color: rgba(15, 215, 68, 0.419);
  border-style: solid;
  padding: 0px 10px;
  border-width: 0px;
  border-top-width: 2px;
  color:bisque;
  border-color:antiquewhite;
}

.centerbox-content-record-submit:hover{
  background-color: rgb(49, 120, 68);
  cursor:pointer;

}
.dropbox-and-title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.dropbox-style{
  /* background-color: rgb(0, 0, 0); */
  background-image: linear-gradient(to right, #231468, #152546);
  background-color: #000000;
  border-color:#152546;
  padding: 8px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  color:beige 
}

.label-style{
  padding:15px;
}

.centerbox-title{
  padding-top:20px;
  background-color: rgba(0, 0, 0, 0);
}

.audio {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000000;
  color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  padding: 150px; 
  padding-bottom:100px; 
}

.audio-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.centerbox-content-drag-n-drop {
  background-color: #00000000;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

.drag-and-drop {
  /* border: 2px dashed #828066; */
  border: 2px dashed;
  border-color:linear-gradient(to right, #2400c4, #152546);
  padding: 100px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* box-sizing: border-box; */
}

.dragging {
  background-color: #00000000;
}

.betabutton{
  margin-top: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(183, 166, 166);
  border-style: solid;
  border-color: rgb(183, 166, 166);
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.3s ease; /* Add transition to background-color */
}

.logo{
  width:50px;
  height: 50px;
  padding:0px;
}

.response-box {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 250px;
  opacity: 0; /* Start with 0 opacity */
  animation: fadeInLeft 1s ease-in-out forwards; /* Use the animation */
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); /* Start slightly to the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Fade in and move to the original position */
  }
}

.response-box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
}


.record-button{
  background-color: #173a2900; /* Default button background color */
  color: #fff; /* Default text color */
  padding: 10px 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top:-10px;
  margin-bottom:40px;
  border-color: #7f7f7f;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease; /* Transition properties for default state */
  cursor: pointer;
  transition-delay: 0.5s; /* Add a delay of 0.5s to the default state */
}
.record-button:hover {
  background-image: linear-gradient(to right, #231468, #152546); /* Darkish gradient */
  color: #fff;
  border-color: #0d1526;
  transition-delay: 0s; /* Reset the delay for hover state */
}
